<% if(messages.info) { %>
<div class="alert alert-dismissible alert-success fade show" role="alert">
	<%- messages.info %>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<% } %> <% if(messages.error) { %>
<div class="alert alert-dismissible alert-danger fade show" role="alert">
	<%- messages.error %>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<% } %> <% if(messages.warning) { %>
<div class="alert alert-dismissible alert-warning fade show" role="alert">
	<%- messages.warning %>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<% } %>
