<h2>This link is only available to admin</h2>
<div class="row">
	<% users.forEach((user) => { %>
	<div class="col s4 m4">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title"><%- user.username %></span>
				<p>ID: <%- user.id%></p>
				<p>Roles: <%- user.roles%></p>
			</div>
			<div class="card-action">
				<a href="#">Edit</a>
				<a href="#">Delete</a>
			</div>
		</div>
	</div>
	<% }) %>
</div>
